---
import { Icon } from "astro-icon/components";

import { Section } from "@app/layouts";
import { ContactForm } from "@modules/contact";

import { Link } from "@components/base";
import ParticleCanvas from "@components/particles/particle-canvas.astro";

import { linkedIn, email } from "@lib/data/socials";

const { locale, translations } = Astro.locals;
const t = translations.sections.contact;
---

<Section
  id={t.id}
  class="z-0 mx-auto max-w-screen-xl px-4 xs:px-6 sm:px-8"
  title={t.title}
  order={4}
>
  <div class="contact-section-grid mt-6 pb-[4.5rem] text-center sm:mx-4">
    <!-- MAIL -->
    <div class="grid-area-mail px-8 font-header sm:text-balance">
      <p
        class="text-xl font-medium"
        set:html={t.headline1}
      />

      <p class="mt-8 text-base text-foreground/60">
        <span set:html={t.text1} />

        <a
          href={`mailto:${translations.socials.emailAddress}`}
          class="mt-7 flex items-center justify-center gap-x-4 py-2 text-primary/80"
        >
          <Icon
            name="lucide:mail"
            class="box-content inline-block size-[1.2em]"
          />
          <span class="hover:underline">
            {translations.socials.emailAddress}
          </span>
        </a>
      </p>
    </div>

    <!-- OR -->
    <div
      class="grid-area-or flex w-full items-center justify-center gap-6 text-center xl:h-full xl:flex-col"
    >
      <span class="h-0.5 w-1/2 bg-muted xl:h-1/2 xl:w-0.5"></span>
      <span
        class="py-6 text-sm font-black text-muted-foreground xl:px-3 xl:py-0"
        set:text={t.or}
      />
      <span class="h-0.5 w-1/2 bg-muted xl:h-1/2 xl:w-0.5"></span>
    </div>

    <!-- LINKS -->
    <div class="grid-area-links pt-12 font-header sm:text-balance md:py-0">
      <p
        class="text-xl font-medium"
        set:html={t.headline2}
      />
      <p
        class="mt-8 text-base text-foreground/60"
        set:html={t.text2}
      />

      <ul class="mt-6 flex w-full justify-center gap-x-2">
        {
          [linkedIn, email].map(({ href, i18nKey, iconKey }) => {
            const translatedLabel = translations.socials[i18nKey];
            return (
              <li
                class:list={[
                  "rounded-lg text-foreground/80 transition duration-200",
                  "hover:bg-accent hover:text-accent-foreground/80",
                ]}
              >
                <Link
                  {href}
                  label={`${translatedLabel}`}
                  targetBlank
                  withTooltip={{
                    content: `${translatedLabel}`,
                    placement: "bottom",
                  }}
                >
                  <Icon
                    name={iconKey}
                    class="box-content size-8 p-2 text-current"
                  />
                </Link>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</Section>

<style>
  .grid-area-mail {
    grid-area: mail;
  }

  .grid-area-or {
    grid-area: or;
  }

  .grid-area-links {
    grid-area: links;
  }

  .contact-section-grid {
    display: grid;
    text-align: center;

    grid-template-columns: 1fr;
    grid-template-areas:
      "mail"
      "or"
      "links";
  }

  @media screen(md) {
    .contact-section-grid {
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "mail or links";
    }
  }

  @media screen(xl) {
    .contact-section-grid {
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "mail or links";
    }
  }
</style>
